<div class="container-fluid">
    <button type="button" class="btn cerrar-lista rounded-circle" data-toggle="collapse" data-target="#listaRecorridos" 
        aria-expanded="false" aria-controls="listaRecorridos">
        <i aria-hidden="true" class="fa fa-angle-down">
        </i>
    </button>
    <div class="row">
        <div class="col-md-3 p-0 collapse" id="listaRecorridos">
            <section class="lista-recorridos">
                <div *ngIf="recorridos != null" class="recorridos">
                    <div *ngFor="let recorrido of recorridos; let i = index" class="card" 
                    [class.selected]="i == ultimoSeleccionado"
                    (click)="recorridoSelected(i)">
                        <div class="card-block">
                            <h4 class="card-title">{{recorrido.nombre}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{recorrido.descripcion}}</h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-9 p-0">
            <section class="mapa">
                <ng2-map *ngIf="recorridos != null" center="Concepcion del uruguay, Argentina" 
                    class="map" (mapReady$)="onMapReady($event)">
                    <div *ngFor="let colectivo of colectivos">
                        <marker 
                        *ngIf="colectivo.ubicacion != null" 
                        [position]="colectivo.ubicacion"
                        (initialized$)="markerColectivoInitialized($event)">
                        </marker>
                    </div>

                    <div *ngFor="let parada of paradas">
                        <marker (click)="markerClicked($event, colectivo)" 
                        *ngIf="parada.pos != null" 
                        [position]="parada.pos"
                        (initialized$)="markerParadaInitialized($event)">
                        </marker>
                    </div>

                    <polyline *ngFor="let recorrido of recorridos; let i=index"
                    (click)="recorridoSelected(i)" 
                    (initialized$)="onPolylineInit($event, recorrido, index)"  
                    [strokeColor]="recorrido.color" 
                    [strokeOpacity]="0.8" 
                    [strokeWeight]="5">
                    </polyline>
                </ng2-map>
            </section>
        </div>
    </div>
</div>
