<ng2-map  *ngIf="recorridos != null" class="map"
center= "Concepcion del uruguay, Argentina">
    <div *ngFor="let colectivo of colectivos">
      <marker *ngIf="colectivo.ubicacion != null" 
        [position]="colectivo.ubicacion">
        <info-window id="iw">
          id: {{colectivo.id}}, patente: {{colectivo.patente}}
        </info-window>
      </marker>
    </div>
    <map-polygon *ngFor="let recorrido of recorridos; let i=index"
      id = "poligono_{{i}}"
      [style.display]="inline"
      [strokeColor]="recorrido.color"
      [strokeOpacity]="0.8"
      [strokeWeight]="5"
      [fillOpacity]="0"
      (initialized$)="onPolygonInit($event, recorrido, index)" 
      (click) = "mouseOverPolygon(i)"
      >

      <info-window id="recorrido.nombre">
        {{recorrido.nombre}}
      </info-window>
     </map-polygon>

</ng2-map>

<div *ngIf="recorridos != null" class="recorridos">
  <md-card  *ngFor = "let recorrido of recorridos; let i = index"
  [class.selected]="i === ultimoSeleccionado" (click)="recorridoSelected(i)">
        
        <md-card-title>{{recorrido.nombre}} <div id="circulo" [style.background]="recorrido.color"></div></md-card-title>
        <md-card-content class="badge">{{recorrido.descripcion}}</md-card-content>
  </md-card>
</div>
<button (click)="aVerQueHay()">Apretame bayby</button>
