<h1>Editor de paradas</h1>

<ng2-map  *ngIf="recorridos != null" 
center= "Concepcion del uruguay, Argentina"
(click)="agregarParada($event)">

    <marker *ngFor="let parada of paradas"
      (click)="markerClicked($event, parada)"
      (dragstart)="parada.recorridos = []"
      (dragend)="markerDragged($event, parada)"
      [position]="parada.pos"
      [draggable]="true">
    </marker>
    
    <map-polygon *ngFor="let recorrido of recorridos; let i=index"
      id = "poligono_{{i}}"
      [clickable]="false"
      [strokeColor]="recorrido.color"
      [strokeOpacity]="0.3"
      [strokeWeight]="3"
      [fillOpacity]="0"
      (initialized$)="onPolygonInit($event, recorrido, index)" 
      >
     </map-polygon>

</ng2-map>

<div *ngIf="paradaSeleccionada != null">
  <md-list>
    <md-list-item *ngFor="let recorrido of paradaSeleccionada.recorridos">{{recorrido}}</md-list-item>
  </md-list>
  <span>{{paradaSeleccionada.pos}}</span>
  <button class="boton_eliminar" md-raised-button 
    (click)="removeParada(paradaSeleccionada)"><md-icon>delete</md-icon> Eliminar parada
  </button>
</div>

<button class="boton_guardar" md-raised-button 
    (click)="guardarParadas()"><md-icon>save</md-icon> guardar paradas
  </button>
