<md-toolbar>
      <button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
      <span> Colectivos Uruguay </span>
</md-toolbar>  

<md-sidenav-container class="example-container">

    <md-sidenav #sidenav mode="side" class="app-sidenav">
      Menu de mierda
      <md-list>
        <md-list-item> 
          <button md-button
            (click)="router.navigate(['/recorridos'])">
            <md-icon>directions_bus</md-icon> Home 
          </button>
        </md-list-item>
        <md-list-item> 
          <button md-button
            (click)="router.navigate(['/comollegar'])">
            <md-icon>my_location</md-icon> Como llegar?
          </button>
        </md-list-item>
        <md-list-item>
          <button md-button
            (click)="router.navigate(['/admin'])">
            <md-icon>vpn_key</md-icon> Administrador
          </button>  
        </md-list-item>
        
      </md-list>
      
    </md-sidenav>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
</md-sidenav-container>



