<header class="encabezado fixed-topx" role="banner" id="encabezado">
    <div class="container">
      <a routerLink="/inicio" routerLinkActive="active" class="logo">
        <img src="./assets/images/logo-uruguay.png" >
      </a>    
      <button type="button" class="boton-menu" data-toggle="collapse" data-target="#menu-principal"
        aria-expanded="false" aria-controls="#menu-principal">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <nav class="collapse" id="menu-principal"> 
        <ul>
          <li>  
            <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li>  
            <a routerLink="/recorridos" routerLinkActive="active">Recorridos</a>
          </li>
          <li>  
            <a routerLink="/comollegar" routerLinkActive="active">¿Como llegar?</a>
          </li>
          <li>  
            <a routerLink="/admin" routerLinkActive="active">Acerca de</a>
          </li>
        </ul>
      </nav>    
    </div>
</header>
<div class="contenido">
  <router-outlet></router-outlet>
</div>



