<div class="container-fluid">                
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="active nav-link" href="#colectivos" role="tab" data-toggle="tab">Colectivos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#recorridos" role="tab" data-toggle="tab">Recorridos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#paradas" role="tab" data-toggle="tab">Paradas</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="colectivos">
    <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Patente</th>
            <th>Key</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colectivo of colectivos">
            <td>{{colectivo.id}}</td>
            <td>{{colectivo.patente}}</td>
            <td>{{colectivo.$key}}</td>
            <td>
              <a [routerLink]="['/colectivos', colectivo.$key]">
                <button class="boton_editar" md-raised-button>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </a>
            </td>
            <td>
              <button class="boton_eliminar" md-raised-button (click)="removeColectivo(colectivo.$key)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <span class="app-action" [class.m2app-dark]="true">
        <a routerLink="/colectivos/nuevo">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </span>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="recorridos">
    <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Key</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recorrido of recorridos">
            <td>{{recorrido.nombre}}</td>
            <td>{{recorrido.descripcion}}</td>
            <td>{{recorrido.$key}}</td>
            <td>
              <a [routerLink]="['/recorridos', recorrido.$key]">
                <button class="boton_editar" md-raised-button>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </a>
            </td>
            <td>
              <button class="boton_eliminar" md-raised-button (click)="removeRecorrido(recorrido.$key)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="app-action" [class.m2app-dark]="true">
        <a routerLink="/recorridos/nuevo">
          <button md-fab>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </a>
      </span>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="paradas">
    <admin-paradas></admin-paradas>
  </div>
</div>
</div>