<div class="container">
    <h2>Crear colectivo</h2>

    <form *ngIf="colectivoInput != null" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" required
         [(ngModel)]="colectivoInput.nombre" name="nombre">
      </div>

      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" required
        [(ngModel)]="colectivoInput.descripcion" name="descripcion">
      </div>

      <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" required
        [(ngModel)]="colectivoInput.color" name="color">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <ng2-map *ngIf="colectivoInput != null" center= "Concepcion del uruguay, Argentina">

    <map-polygon
      [editable]="true"
      [paths]="ruta"
      [strokeColor]="colectivoInput.color"
      [strokeOpacity]="0.8"
      [strokeWeight]="2"
      [fillColor]="'#FFC107'"
      [fillOpacity]="0.35"
      (initialized$)="onPolyInit($event)"
      >
     </map-polygon>

    </ng2-map>

    <button (click)="guardarRuta()">Guardar</button>

</div>