<section class="bienvenida text-center">
  <div class="container">
    <h1 class="display-4">Bienvenidos a colectivos CDU</h1>
            <p>
              Queremos que usar los colectivos de la ciudad sea mas facil
              para todos los uruguayenses
            </p>
            <div class="flecha-bajar">
              <a href="" class="text-center"> <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
            </div>
  </div>
</section>
<section class="cuando-llega">
  <div class="container">
    <h2 class="titulo text-center font-weight-bold">¿Cuando llega?</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="tip col-md-4">
          <i class="fa fa-bus" aria-hidden="true"></i><span>Selecciona el recorrido del colectivo</span>
        </div>
        <div class="tip col-md-4">
          <i class="fa fa-map-marker" aria-hidden="true"></i><span>Elije la parada donde lo vas a tomar</span>
        </div>
        <div class="tip col-md-4">
          <i class="fa fa-clock-o" aria-hidden="true"></i><span>Y listo! al instante sabras cuanto falta para que llegue</span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Ir ahora</button>
  </div>
</section>
<section class="como-llegar">
  <div class="container">
    <h2 class="titulo text-center font-weight-bold">¿Como llegar?</h2>
    <p class="text-center p-t-2">
      Si no conoces nuestros recorridos y no sabes como llegar a donde queres
      no hay problema. Elegi tu ubicacion, tu destino y nosotros te decimos que
      colectivo te conviene tomar. <span class="texto-acentuado font-weight-bold">¡ASI DE FACIL!</span>
    </p>
    <button type="button" class="btn btn-primary">Ir ahora</button>
  </div>
</section>
<footer class="pie-de-pagina">  
  <div class="container text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.   
  </div>
</footer>