<section class="bienvenida text-center">
  <div class="container">
    <h1 class="display-4">Bienvenidos a colectivos CDU</h1>
            <p>
              Queremos que usar los colectivos de la ciudad sea mas facil
              para todos los uruguayenses
            </p>
            <div class="flecha-bajar">
              <a href="" class="text-center"> <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
            </div>
  </div>
</section>
<section class="cuando-llega">
  <div class="container">
    <h2 class="text-center font-weight-bold">¿Cuando llega?</h2>
    <ul>
      <li>selecciona el recorrido</li>
      <li>elegi la parada donde estes</li>
      <li>y listo! vas a saber cuanto falta para que llegue el proximo colectivo</li>
    </ul>
    <button type="button" class="btn btn-primary">Ir ahora</button>
  </div>
</section>
<section class="como-llegar">
  <div class="container">
    <h2>¿Como llegar?</h2>
    <p>
      Si no conoces nuestros recorridos y no sabes como llegar a donde queres
      no hay problema. Elegi tu ubicacion, tu destino y nosotros te decimos que
      colectivo te conviene tomar. ¡ASI DE FACIL!
    </p>
  </div>
</section>
<footer class="pie-de-pagina">  
  <div class="container text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.   
  </div>
</footer>